main .form-control {
  width: auto;
}

main {
  overflow-x: auto;

  text-align: center;
}

main img {
  max-width: 100%;
}

nav.navbar {
  padding-left: 1em;
  padding-right: 1em;
}

body {
  background-color: #292929 !important;
}

.float-container {
  padding: 20px;
  width: 80%;
}

.float-child-0 {
  width: 50%;
  float: left;
  padding: 20px;
}
.float-child-1 {
  width: 45%;
  float: left;
  padding: 20px;
}

.scores {
  width: 50%;
}

.theme-color {
  color: #fff !important;
}

.navbar-background {
  background-color: #f50000 !important;
}

a.nav-item {
  transition: all 0.3s;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

footer {
  position: sticky;
  bottom: 100;
  left: 0;
  width: 100%;
}

.wrapper {
  min-height: 97vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}

footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

footer li {
  margin: 0 10px;
}
